@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto:wght@300;400&display=swap');

h1, h2, h3, h4 {
    margin: 0
}

h1 {
    font-family: 'Raleway', 'Arial';
    font-weight: 900;
}

h2 {
    font-family: 'Roboto';
    font-weight: 300;
}

