.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
}

h1{
    font-size: 30px;
}

p{
    margin: 0;
}

.projects-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
}

.projects{
    background-color: rgba(128, 128, 128, 0.237);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;

}

.projects-info{
flex-basis: 50%;
word-wrap: break-word;
}

.projects-pic{
    flex-basis: 50%;
}

.projects-pic img{
    width: 100%;
    height: 100%;
    background-color: black;
}

@media (max-width: 768px){
    .projects-container{
      display: flex;
      flex-direction: column;
      max-width: 75%;
      margin-top: 50px;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
        text-align: center;
        align-items: center;
    }
  }

  @media (max-width: 992px){
    .projects-container{
        display: flex;
        flex-direction: column;
        max-width: 45%;
        margin-top: 50px;
      }
  }
  


